<!doctype html>
<html>

<head>
  <title>ICED Visualization</title>

 
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

  <!-- External Scripts -->
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="components/webcomponentsjs/webcomponents.js"></script>

  <link rel="import" href="components/font-roboto/roboto.html">
  <link rel="import" href="components/core-header-panel/core-header-panel.html">
  <link rel="import" href="components/core-toolbar/core-toolbar.html">
  <link rel="import" href="components/paper-tabs/paper-tabs.html">
  <link rel="import" href="components/core-icon-button/core-icon-button.html">
  <link rel="import" href="components/core-media-query/core-media-query.html">
  <link rel="import" href="components/core-icon/core-icon.html" >
  <link rel="import" href="components/core-icons/core-icons.html" >
  
 

  <link rel="import" href="components/font-roboto/roboto.html" >
  <link rel="import" href="components/paper-button/paper-button.html">

  <link rel="import" href="components/paper-dialog/paper-dialog.html">
  <link rel="import" href="components/paper-dialog/paper-action-dialog.html">
  
  <link rel="stylesheet" type="text/css" href="components/style.css">
  
    <style shim-shadowdom>
	  
	  

    section {
      padding: 20px 0;
    }

    section > div {
      padding: 14px;
      font-size: 16px;
    }

    button {
      margin: 8px 4px;
    }

    html /deep/ [autofocus] {
      color: #03a9f4;
    }

    html /deep/ .scrolling::shadow #scroller {
      height: 350px;
    }

    html /deep/ .colored {
      border: 1px solid #0f9d58;
      background-color: #b7e1cd;
      color: #0f9d58;
    }

    html /deep/ .size-position {
      position: fixed;
      top: 16px;
      right: 16px;
    }

    html /deep/ .size-position::shadow #scroller {
      width: 300px;
      height: 300px;
    }

  </style>
  
  <script>

  var state = {
	  "meta":{"setSourceToggle":false,"setDestToggle":false},
	  "sourceNodes":[],
	  "destNodes":[],
	  "d3Lookup":[],
	  "analyze":false
  };

  </script>
</head>
<body unresolved>
	


<template is="auto-binding">


  <core-header-panel>
  <core-toolbar>
  
    <span><i>ICED Visualization</i></span>
    <core-icon-button id="setSource"   icon="settings-input-component" onclick="setSourceLogic()"> Set Source Nodes</core-icon-button>
    <core-icon-button id="setDest"     icon="settings-input-component" onclick="setDestLogic()"> Set Destination Nodes</core-icon-button>
    		
	</section>
	<section on-tap="{{toggleDialog1}}" onclick="analyzePathLogic()">
    	<core-icon-button icon="settings-remote"> Analyze
		</core-icon-button>
			<paper-action-dialog backdrop autoCloseDisabled layered="true">
			<p>Intersection of source and destination:</p>
			
			<div id="studentCount">
			</div>
			
			<paper-button affirmative autofocus>Tap me to close</paper-button>
		</paper-action-dialog>
  	</section>

    <div flex></div>
    <section on-tap="{{toggleDialog1}}">
    	<core-icon-button icon="announcement" >
		</core-icon-button>
			<paper-action-dialog backdrop autoCloseDisabled layered="false">
			<p>Info/steps:</p>
			<ul>
				<li>
					for best results, use Google Chrome
				</li>
				<li>
					collect source set
				</li>
				<li>
					collect destination set
				</li>
				<li>
					analyze path
				</li>
			</ul>
			<p>Double click nodes to add/remove from sets</p>
			<paper-button affirmative autofocus>Tap me to close</paper-button>
		</paper-action-dialog>
  	</section>
  	<core-icon-button icon="refresh" onclick="reset()"></core-icon-button>
  </core-toolbar>
 </body> 
  <!-- Graph code -->
  <script>	


	  
    // JSON serves as an adjacency list for graph 
    

   	var jsonData = {};
    $.ajax({
    	url: "http://147.129.181.29/ICED/REST/index.php?call=initialListSet",
    	async: false,
    	dataType: 'json',
    	success: function(data) {
    		jsonData["nodes"] = data["nodes"];
    		jsonData["links"] = data["links"];
    	}
    	
    });
   	var seenList = {};
   	
   	function setSourceLogic(){
	   	//console.log(state["meta"].setDestToggle);
	   	
	   	if(state["meta"].setDestToggle==false){
		   	document.getElementById("setSource").style.color="gold";
		   	
	   		state["meta"]["setSourceToggle"]=true;
	   	}
	   	
   	}
   	
   	function setDestLogic(){
	   	
	   	if(state["meta"].setSourceToggle==true){
		   	document.getElementById("setDest").style.color="gold";
		   	document.getElementById("setSource").style.color="white";
	   		state["meta"]["setDestToggle"]=true;
	   		state["meta"]["setSourceToggle"]=false;
	   	}   	
   	}
   	
   	function analyzePathLogic(){
	   	document.getElementById("setSource").style.color="white";
	   	document.getElementById("setDest").style.color="white";
	   	
	   	
	   	state["analyze"] = true;
	   	for(sourceNode in state["sourceNodes"]){
		   	for(destNode in state["destNodes"]){
				//console.log(state["sourceNodes"][sourceNode]);
				//console.log(state["destNodes"][destNode]);
				graph.addLink(state["sourceNodes"][sourceNode]["node"], state["destNodes"][destNode]["node"], 2);  	
		   	}
	   	}
	   	state["analyze"] = false;
	   	keepNodesOnTop();
	   	$.ajaxSetup({async: false});
	   	$.post("http://147.129.181.29/ICED/REST/?call=analyze",
	   	{
	   		data: Array(state["sourceNodes"],state["destNodes"])
  		},
  		function(data,status){
	  		console.log("RESPONSE");
  			console.log(data);
  			document.getElementById('studentCount').innerHTML = data.length;

  		});
	   	
	   	
	   	//reset();
   	}
   	
   	function checkIfArrayContainsId(obj,id){
	   	var found = false;
	   	for(var i = 0; i < obj.length; i++) {
	   		if (obj[i].id == id) {
	   			return true
    		}
		}
		return false
   	}
   	
   	function deleteIfContainsId(obj,id){
	   	var found = false;
	   	for(var i = 0; i < obj.length; i++){
		   	if(obj[i].id == id){
			   	obj.splice(i,1);
			   	return obj;
		   	}
	   	}
	   	return obj;
   	}

    function myGraph() {

    	// Add and remove elements on the graph object
		this.addNode = function (node, id, group, misc, crnx, department, term_id) {
        	nodes.push({"node":node,"id": id,"group":group,"misc":misc,"crnx":crnx,"department":department,"term_id":term_id});
			update();
      	};

	  	this.removeNode = function (id) {
        	var i = 0;
			var n = findNode(id);
			while (i < links.length) {
				if ((links[i]['source'] == n) || (links[i]['target'] == n)) {
					links.splice(i, 1);
          		}
		  		else i++;
        	}
			nodes.splice(findNodeIndex(id), 1);
			update();
      	};

      	this.removeLink = function (source, target) {
        	for (var i = 0; i < links.length; i++) {
				if (links[i].source.id == source && links[i].target.id == target) {
					links.splice(i, 1);
					break;
          		}
            }
            update();
        };

        this.removeallLinks = function () {
            links.splice(0, links.length);
            update();
        };

        this.removeAllNodes = function () {
            nodes.splice(0, links.length);
            update();
        };

        this.addLink = function (source, target, value) {
            links.push({"source": findNode(source), "target": findNode(target), "value": value});
            update();
        };

        var findNode = function (id) {
          for (var i in nodes) {
            if (nodes[i]["node"] === id) return nodes[i];
          }
        };

        var findNodeIndex = function (id) {
          for (node in jsonData["nodes"]){
            if(jsonData["nodes"][node]["name"] == id){
              return jsonData["nodes"][node]["node"];
            }
          };
        };

        // gets the children of a particular node and creates puts them into a list
        var findNodeChildren = function(node) {
            var list = {};
            var i=0;
            for (link in jsonData["links"]){
	            
                if(jsonData["links"][link]["target"]==node){
                    list[i]=jsonData["links"][link]["source"];
                    i++;
                }
            }
            return list;
        }

        // set up the D3 visualisation in the specified element
        var w = $(window).width(),
            h = $(window).height();

        var color = d3.scale.category10();

        var vis = d3.select("core-header-panel")
                .append("svg:svg")
                .attr("width", w)
                .attr("height", h)
                .attr("id", "svg")
                .attr("pointer-events", "all")
                .attr("viewBox", "0 0 " + w + " " + h)
                .attr("perserveAspectRatio", "xMinYMid")
                .append('svg:g');


        function resize() {
          
          // update width
          var x = $(window).width(),
            y = $(window).height();
          
          //console.log("resizing:"+x+":"+y);
          //vis.attr("width", x).attr("height", y);

          // do the actual resize...
        }

        var force = d3.layout.force();

        var nodes = force.nodes(),
                links = force.links();

        var update = function () {
            var link = vis.selectAll("path")
                    
                    .data(links, function (d) {
                        return d.source.id + "-" + d.target.id;
                    });
                    
			// different edge colors depending on state of visualiztion
            if(!state["analyze"]){
	            link.enter().append("path")
	                    .attr("id", function (d) {
	                        return d.source.id + "-" + d.target.id;
	                    })
	                    .attr("stroke-width", function (d) {
	                        return d.value;
	                    })
	                    .attr("class", "link")
	                    .style("stroke-width", function(d) {return 1;})
	            link.append("title")
	                    .text(function (d) {
	                        return d.value;
	                    })
	        }else{
		        link.enter().append("path")
                    .attr("id", function (d) {
                        return d.source.id + "-" + d.target.id;
                    })
                    .attr("stroke-width", function (d) {
                        return d.value;
                    })
                    .attr("class", "analyzeLink")
                    .style("stroke-width", function(d) {return 2;})
            link.append("title")
                    .text(function (d) {
                        return d.value;
                    });
	        }
            link.exit().remove();

            var node = vis.selectAll("g.node")
                    .data(nodes, function (d) {
	                    //state["d3Lookup"][d.id]=this;
                        return d.id;
                    });

            var nodeEnter = node.enter().append("g")
                    .attr("class", "node")
                    .attr("id",function(d){return d.id;})
                    .call(force.drag);

            nodeEnter.append("svg:circle")
                    .attr("r", 6)
                    .attr("node", function (d) {
                        return "Node;" + d.node;
                    })
                    .attr("class", "nodeStrokeClass")
                    .attr("fill", function(d) { return color(d.group); });

            nodeEnter.append("svg:text")
                    .attr("class", "textClass")
                    .attr("x", 6)
                    .attr("y", ".35em")
                    .text(function (d) {
                        return d.id;
                    });
                    
                    
            node.on("dblclick", function(obj) {
	            if(state["meta"]["setSourceToggle"]==true){
		        	if(obj["group"]!=0){
						if(!checkIfArrayContainsId(state["sourceNodes"],obj.id)){
							//console.log(d3.select(this));
							//console.log(d3.select(state["d3Lookup"][obj.id]));
							d3.select(this).select("text").transition()
								.duration(750)
								.attr("x", 16.5)
								.style("stroke-width", ".5px")
								.style("font", "12px sans-serif");
							d3.select(this).select("circle").transition()
								.duration(750)
								.attr("r", 12)
								.style("fill", "gold");
							state["sourceNodes"].push(obj);
						}else{
							state["sourceNodes"] = deleteIfContainsId(state["sourceNodes"],obj.id);
 							d3.select(this).select("circle").transition()
								.duration(750)
								.attr("r", 6)
								.style("fill", function(d) { return color(d.group); });
							d3.select(this).select("text").transition()
								.duration(750)
								.attr("x", 12)
								.style("stroke", "none")
								.style("fill", "black")
								.style("stroke", "none")
								.style("font", "10px sans-serif");
						}
		        	}
					return;
	        	}else if(state["meta"]["setDestToggle"]==true){
		        	if(obj["group"]!=0){
						if(!checkIfArrayContainsId(state["sourceNodes"],obj.id)&&!checkIfArrayContainsId(state["destNodes"],obj.id)){
							d3.select(this).select("text").transition()
								.duration(750)
								.attr("x", 16.5)
								.style("stroke-width", ".5px")
								.style("font", "12px sans-serif");
							d3.select(this).select("circle").transition()
								.duration(750)
								.attr("r", 12)
								.style("fill", "darkblue");
							if(!state["destNodes"][obj]){
			            		state["destNodes"].push(obj);
							}
			        	}else if(!checkIfArrayContainsId(state["sourceNodes"],obj.id)){
							state["destNodes"] = deleteIfContainsId(state["destNodes"],obj.id);
 							d3.select(this).select("circle").transition()
								.duration(750)
								.attr("r", 6)
								.style("fill", function(d) { return color(d.group); });
							d3.select(this).select("text").transition()
								.duration(750)
								.attr("x", 12)
								.style("stroke", "none")
								.style("fill", "black")
								.style("stroke", "none")
								.style("font", "10px sans-serif");
						}
			    	}
					return;
	        	} 
            });
            node.on("click", function(obj) {
	            function addNodeTimed(child,list){
					setTimeout(function(){
					  graph.addNode(jsonData["nodes"][list[child]]["node"],jsonData["nodes"][list[child]]["name"],jsonData["nodes"][list[child]]["group"],jsonData["nodes"][list[child]]["misc"],jsonData["nodes"][list[child]]["crnx"],jsonData["nodes"][list[child]]["department"],jsonData["nodes"][list[child]]["term_id"]);
	                  graph.addLink(obj.node,list[child],jsonData["links"][child]["value"]);
	                  keepNodesOnTop();
	                  }, 1);
				}
	            
				if(state["meta"]["setSourceToggle"]==true){

					return;
	        	}else if(state["meta"]["setDestToggle"]==true){
		        	return;
	        	}else{
	            	if(obj["group"]=="1"||obj["group"]=="2"){
	                	var nodes = jsonData["nodes"];
						var childrenList = findNodeChildren(obj.node);
						if(seenList[obj.node]!=1){
	                		for (child in childrenList){
		                	
		            			addNodeTimed(child,childrenList);
	                		}
							seenList[obj.node] = 1;
	                	}else{
	                }
	                return;
	              }
	           	}
	           	
            });

            node.exit().remove();
			var process = 1;
            force.on("tick", function () {
	            if(process){

	                node.attr("cx", function(d) { return d.x = Math.max(15, Math.min(w - 15, d.x)); })
					.attr("cy", function(d) { return d.y = Math.max(15, Math.min(h - 15, d.y)); });
	
					link.attr("d", function(d) {
						var dx = d.target.x + d.source.x,
						dy = d.target.y + d.source.y,
						dr = Math.sqrt(dx * dx + dy * dy);
						return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
					});
	
					node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
				}
				process = 1 - process;
            });
			
            // Restart the force layout.
            force
            		.charge(-64)
                    .gravity(-.00001)
                    .linkDistance( function(d) { 
	                    if(d.target.group == 0){ return d.value + 120;}
	                    if(d.target.group == 2){ return d.value + 80;}
	                    if(state["analyze"] == true){ return d.value + 160;}
	                    return d.value + 60;
	                    
		                    
	                     })
                    .size([w, h])
                    .start();
                    
        	};
        	
        	

        // update DOM
        update();
        force.stop();
    }
    
    
    // Draw initial graph
    function drawGraph() {
      var nodes = jsonData["nodes"];
      var links = jsonData["links"];
      graph = new myGraph("#svgdiv");
      for(var n=0;n<nodes.length;n++) {     
        if(nodes[n]["show"]==true){
          graph.addNode(nodes[n]["node"],nodes[n]["name"],nodes[n]["group"],nodes[n]["misc"],0,0,nodes[n]["term_id"]);
        }
      }
      for(var l=0;l<links.length;l++) {
        if(links[l]["show"]==true){
          graph.addLink(links[l]["source"], links[l]["target"], links[l]["value"]);
        }
      }
      keepNodesOnTop();
    }

    drawGraph();
    
    // because of the way the network is created, nodes are created first, and links second,
    // so the lines were on top of the nodes, this just reorders the DOM to put the svg:g on top
    function keepNodesOnTop() {
        $(".nodeStrokeClass").each(function( index ) {
            var gnode = this.parentNode;
            gnode.parentNode.appendChild(gnode);
        });
    }
    function reset() {
		seenList = {};
	    document.getElementById("setDest").style.color="white";
		document.getElementById("setSource").style.color="white";
	    state["meta"]["setSourceToggle"] = false;
	    state["meta"]["setDestToggle"]   = false;
	    state["sourceNodes"]			 = [];
	    state["destNodes"]				 = [];
        d3.select("svg").remove();
        drawGraph();
    }
  </script>
  </core-header-panel>
</template>

<script>


  var scope = document.querySelector('template[is=auto-binding]');

  scope.toggleDialog1 = function(e) {
    if (e.target.localName != 'core-icon-button') {
      return;
    }
    var d = e.target.nextElementSibling;
    if (!d) {
      return;
    }
    d.toggle();
  };

  scope.transitions = [
    'core-transition-center',
    'core-transition-top',
    'core-transition-bottom',
    'core-transition-left',
    'core-transition-right'
  ];

  scope.toggleDialog2 = function(e) {
    if (e.target.localName != 'button') {
      return;
    }
    scope.transition = e.target.getAttribute('transition');
    document.getElementById('dialog2').toggle();
  };

</script>



</html>